In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set() 

import numpy as np

In [2]:
# import csv
df = pd.read_csv("C:/Users/nick_/_WGU/D207/Jupyter Notebook/churn_clean.csv", index_col=0)

In [3]:
# set notebook up to display all col names
pd.set_option('display.max_columns', None)

In [4]:
df.head(10)

,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,Area,TimeZone,Job,Children,Age,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
CaseOrder,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,0,68,28561.99,Widowed,Male,No,7.978323,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,172.455519,904.536110,5,5,5,3,4,4,3,4
2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1,27,21704.77,Married,Female,Yes,11.699080,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.632554,800.982766,3,4,3,3,4,3,4,4
3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4,50,9609.57,Widowed,Female,No,10.752800,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.947583,2054.706961,4,4,2,4,4,3,3,3
4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1,48,18925.23,Married,Male,No,14.913540,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,119.956840,2164.579412,4,4,4,2,5,4,3,3
5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0,83,40074.19,Separated,Male,Yes,8.147417,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,149.948316,271.493436,4,4,4,3,4,4,4,5
6,W303516,2b451d12-6c2b-4cea-a295-ba1d6bced078,97598fd95658c80500546bc1dd312994,Fort Valley,GA,Peach,31030,32.57032,-83.89040,17701,Urban,America/New_York,Chief Technology Officer,3,83,22660.20,Never Married,Female,No,8.420993,15,3,1,No,One year,Yes,No,NaN,Yes,Yes,Yes,Yes,Yes,No,No,Yes,No,Electronic Check,7.000994,185.007692,1039.357983,3,3,3,2,4,3,3,3
7,U335188,6630d501-838c-4be4-a59c-6f58c814ed6a,87d1c4223e49156020564c01a88973b9,Pioneer,TN,Scott,37847,36.43420,-84.27892,2535,Suburban,America/New_York,"Surveyor, hydrographic",0,79,11467.50,Widowed,Male,Yes,11.182725,10,0,1,Yes,Month-to-month,No,No,DSL,Yes,No,No,No,No,Yes,Yes,Yes,No,Electronic Check,13.236774,200.118516,1907.242972,6,5,6,4,1,5,5,5
8,V538685,70ddaa89-b726-49dc-9022-2d655e4c7936,fce3f21888317907de42e298d718ccce,Oklahoma City,OK,Oklahoma,73109,35.43313,-97.52463,23144,Suburban,America/Chicago,Sales promotion account executive,2,30,26759.64,Married,Female,Yes,7.791632,16,0,0,Yes,Month-to-month,No,No,DSL,No,No,No,Yes,No,No,No,No,Yes,Mailed Check,4.264255,114.950905,979.612708,2,2,2,5,2,3,4,5
9,M716771,05a49ee3-8fd5-453a-a5f3-82b6cd986856,6c7043ced703b84de29766af3d53c976,Saint Cloud,FL,Osceola,34771,28.27646,-81.16273,17351,Suburban,America/New_York,Teaching laboratory technician,2,49,58634.51,Separated,Nonbinary,No,5.739006,20,2,3,No,Month-to-month,Yes,No,DSL,Yes,No,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),8.220686,117.468591,1312.874964,5,4,4,3,4,3,4,4
10,I676080,86f17e4d-2c24-4b70-a6ec-dddf0609dbaa,6ffe183271258a039e122ced8750b2a0,Cincinnati,OH,Hamilton,45237,39.19296,-84.45230,20193,Rural,America/New_York,Museum education officer,1,86,50231.40,Married,Female,No,8.707824,18,1,0,No,Two Year,Yes,No,Fiber Optic,Yes,No,Yes,No,Yes,No,No,Yes,Yes,Mailed Check,3.422086,162.482694,508.763791,2,2,2,2,5,2,3,3

In [5]:
# ok this changed literally overnight from 9/7 to 9/8.  
# Fortunately I caught it and could handle it here, tip of the hat to https://stackoverflow.com/a/75984164 
# compare Row 6 of the next ce

df["InternetService"] = df["InternetService"].replace(np.nan, "None")

In [6]:
df.head(10)

,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,Area,TimeZone,Job,Children,Age,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
CaseOrder,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,0,68,28561.99,Widowed,Male,No,7.978323,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,172.455519,904.536110,5,5,5,3,4,4,3,4
2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1,27,21704.77,Married,Female,Yes,11.699080,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.632554,800.982766,3,4,3,3,4,3,4,4
3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4,50,9609.57,Widowed,Female,No,10.752800,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.947583,2054.706961,4,4,2,4,4,3,3,3
4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1,48,18925.23,Married,Male,No,14.913540,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,119.956840,2164.579412,4,4,4,2,5,4,3,3
5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0,83,40074.19,Separated,Male,Yes,8.147417,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,149.948316,271.493436,4,4,4,3,4,4,4,5
6,W303516,2b451d12-6c2b-4cea-a295-ba1d6bced078,97598fd95658c80500546bc1dd312994,Fort Valley,GA,Peach,31030,32.57032,-83.89040,17701,Urban,America/New_York,Chief Technology Officer,3,83,22660.20,Never Married,Female,No,8.420993,15,3,1,No,One year,Yes,No,None,Yes,Yes,Yes,Yes,Yes,No,No,Yes,No,Electronic Check,7.000994,185.007692,1039.357983,3,3,3,2,4,3,3,3
7,U335188,6630d501-838c-4be4-a59c-6f58c814ed6a,87d1c4223e49156020564c01a88973b9,Pioneer,TN,Scott,37847,36.43420,-84.27892,2535,Suburban,America/New_York,"Surveyor, hydrographic",0,79,11467.50,Widowed,Male,Yes,11.182725,10,0,1,Yes,Month-to-month,No,No,DSL,Yes,No,No,No,No,Yes,Yes,Yes,No,Electronic Check,13.236774,200.118516,1907.242972,6,5,6,4,1,5,5,5
8,V538685,70ddaa89-b726-49dc-9022-2d655e4c7936,fce3f21888317907de42e298d718ccce,Oklahoma City,OK,Oklahoma,73109,35.43313,-97.52463,23144,Suburban,America/Chicago,Sales promotion account executive,2,30,26759.64,Married,Female,Yes,7.791632,16,0,0,Yes,Month-to-month,No,No,DSL,No,No,No,Yes,No,No,No,No,Yes,Mailed Check,4.264255,114.950905,979.612708,2,2,2,5,2,3,4,5
9,M716771,05a49ee3-8fd5-453a-a5f3-82b6cd986856,6c7043ced703b84de29766af3d53c976,Saint Cloud,FL,Osceola,34771,28.27646,-81.16273,17351,Suburban,America/New_York,Teaching laboratory technician,2,49,58634.51,Separated,Nonbinary,No,5.739006,20,2,3,No,Month-to-month,Yes,No,DSL,Yes,No,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),8.220686,117.468591,1312.874964,5,4,4,3,4,3,4,4
10,I676080,86f17e4d-2c24-4b70-a6ec-dddf0609dbaa,6ffe183271258a039e122ced8750b2a0,Cincinnati,OH,Hamilton,45237,39.19296,-84.45230,20193,Rural,America/New_York,Museum education officer,1,86,50231.40,Married,Female,No,8.707824,18,1,0,No,Two Year,Yes,No,Fiber Optic,Yes,No,Yes,No,Yes,No,No,Yes,Yes,Mailed Check,3.422086,162.482694,508.763791,2,2,2,2,5,2,3,3

In [ ]:
original_dataset_cols_set = set(df.columns.tolist())

In [ ]:
df.info()

In [ ]:
df.duplicated().value_counts() # confirms no duplicate rows in df

In [ ]:
len(df)-len(df.drop_duplicates())

In [ ]:
# identify all quantitative columns for purposes of working with data therein later on

# done manually on my part
quant_cols = [
    "Population", 
    "Children", 
    "Age", 
    "Income", 
    "Outage_sec_perweek",
    "Email",
    "Contacts",
    "Yearly_equip_failure",
    "Tenure",
    "MonthlyCharge",
    "Bandwidth_GB_Year"
]

quant_cols

In [ ]:
# exclude from cleaning per assignment instructions, and therefore from re-encoding
exclude_from_cleaning = [
    "UID",
    "CaseOrder", 
    "Customer_id",
    "Interaction", 
    "City",
    "State", 
    "County", 
    "Zip", 
    "Lat",
    "Lng",
]

# manually excluding "Job" as well due to length of out results
# will evaluate "Job" separately directly below other fields
exclude_from_cleaning.append("Job")

exclude_from_cleaning

In [ ]:
qual_cols_dict = dict() 

for c in df.columns:
    if c not in exclude_from_cleaning:
        if c not in quant_cols:
            qual_cols_dict[c] = df[c].unique().tolist()
        else:
            continue
            
# all qualitative values besides "Job"
qual_cols_dict

In [ ]:
qual_cols_dict["Job"] = df["Job"].unique().tolist()

qual_cols_dict["Job"]

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
# descriptive statistics for later on, if necessary.
df[quant_cols].describe().loc[["count","25%","50%","75%", "mean"]]   
    # 50% is indeed the median, see confirmation in next cel

In [ ]:
cols_with_missing_values = df.isnull().sum() > 0

# create a list of said cols to be parsed through
cols_with_missing_values_list = cols_with_missing_values[cols_with_missing_values>0].index.tolist()

cols_with_missing_values_list

In [ ]:
categorical_missing_values = []

for c in cols_with_missing_values_list:
    if c in quant_cols:
        f, ax_hist = plt.subplots()
    
        # histogram setup
        sns.histplot(x=df[c], ax=ax_hist)
        ax_hist.set(title="", xlabel="") # tip of the hat to https://python-charts.com/matplotlib/title/#:~:text=Adding%20titles%20in%20matplotlib%20with%20title%20and%20set_title,-Matplotlib%20allows%20adding&text=The%20difference%20between%20these%20two,approach%20you%20want%20to%20use.
        ax_hist.set_title(label=c, weight="bold", fontsize="x-large") # tip of the hat to https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.set_title.html
 
    else:
        categorical_missing_values.append(c)
        
plt.tight_layout()    
plt.show();

***NOTE--NO MISSING VALUES IN THIS DATASET SO SKIPPING THIS STEP***

In [ ]:
# Manually classify quantitative variable cols as either normal distribution or non-normal distribution

# missing_values_normal_dist = ["Age"]

# missing_values_non_normal_dist = ["Children", "Income", "Tenure", "Bandwidth_GB_Year"]

# missing_values_normal_dist, missing_values_non_normal_dist

***NOTE--NO MISSING VALUES IN THIS DATASET SO SKIPPING THIS STEP***

In [ ]:
# for col_cat in categorical_missing_values:
#     print(f'Mode of {col_cat}: "{df[col_cat].mode()[0]}"')

# print("")

# for col_norm in missing_values_normal_dist:
#     print(f'Median of {col_norm}: "{df[col_norm].median()}"')
    

# print("")


# for col_non_norm in missing_values_non_normal_dist:
#     print(f'Median of {col_non_norm}: "{df[col_non_norm].median()}"')

In [ ]:
# this function is what we will use to fill in null data
df_orphans = pd.DataFrame() # new df where nulls and eventually outliers will go

new_cols_nulls_removed_set = set() # so we can iterate through this as necessary later on

def fill_nulls(columns_with_nulls, statistical_test):
    """Fill null values based on statistical test provided in function call
    
    Args:
        * columns_with_nulls (list): before running this function, categorize cols with nulls into one of the following:
            * categorical
            * normally distributed quantitative
            * non-normally quantitative
        * statistical_test (str): pass in either "median", "mean", or "mode"
            * General thought is to use "median" for quantitative and "mode" for qualitative unless you have a good reason to do otherwise
    Output: 
        * creates new col in df (col_with_nulls) 
            * if intersection of row and col has value, that value passed over to new col
            * if intersection of row and col does *not* have a value, statistical_test value passed over to new col
    """
   
    for col in columns_with_nulls:
        addnl_col = col + "_with_nulls"
        statistical_test = statistical_test.lower()
        
        condition = df[col].isnull() # creating condition we're going to loc within the df           
        
        if statistical_test == "mode":
            df_orphans[addnl_col] = df[col]         
            df.loc[condition, col] = df[col].mode()[0] # new value if meets condition
            
            new_cols_nulls_removed_set.add(addnl_col)
          
        elif statistical_test == "median" or statistical_test == "mean":
            s_test = getattr(df[col], statistical_test) # need to do this since test is being passed as a kwarg # tip of the cap to https://stackoverflow.com/questions/31112742/why-should-i-ever-use-getattr
            s_test_val = s_test() # in order to actually create an instance of median() or mean()
                        
            df_orphans[addnl_col] = df[col]
            df.loc[condition, col] = s_test_val 
            
            new_cols_nulls_removed_set.add(addnl_col)
                                 
        else:
            print("Error: choose from following: mean, median, mode")

***NOTE--NO MISSING VALUES IN THIS DATASET SO SKIPPING FOLLOWING STEPS***

In [ ]:
# categorical_missing_values

In [ ]:
# missing_values_normal_dist

In [ ]:
# missing_values_non_normal_dist

In [ ]:
# # handle nulls in categorical data
# fill_nulls(categorical_missing_values,"mode")

# # handle nulls in uniformly distributed quantitative data
# fill_nulls(missing_values_normal_dist,"median")

# # handle nulls in non-normally distributed quantitative data
# fill_nulls(missing_values_non_normal_dist,"median")

In [ ]:
df.info()

*End treatment of null values; begin treatment of outliers*

In [ ]:
outlier_dict = dict()

cols_with_outliers = set()
cols_without_outliers = set()

# create set containing rows with *any* outlier, regardless of how it is to be treated
rows_to_handle = set()

def find_outliers(quant_cols):
    """
    Iterate through quantitative cols to create a dictionary with following values for each column key:
        * Interquartile range
        * Q1 value
        * Q3 value
        * CaseOrder value for each row outside the interquartile range, expressed as a list
    
   Args:  
        * quant_cols (list): a list of all quantitative cols you wish to find outliers from
    """
        
    for q in quant_cols:
            
        # calculate outlier values
        # quartile 1 and quartlie 3 values
        q3 = df[q].describe().loc["75%"]
        q1 = df[q].describe().loc["25%"]

        # interquartile range value
        iqr = q3-q1

        # calculating upper and lower values, outside of which will be outliers
        lower_bound = q1 - (1.5 * iqr)
        upper_bound = q3 + (1.5 * iqr)

        # calculating number of outliers per each numerical col
        lower_outliers = len(df.loc[df[q] < lower_bound])
        upper_outliers = len(df.loc[df[q] > upper_bound])

        num_outliers = lower_outliers + upper_outliers

        # if col has outliers, add to list to be looked at closer
        if num_outliers > 0:
            cols_with_outliers.add(q)
        else:
            cols_without_outliers.add(q)
        
        # print number of outliers and breakdown between high or low
        print(f"{q} # of outliers: {num_outliers}")
        print(f"     Num high: {upper_outliers}")
        print(f"     Num low: {lower_outliers}")
        print("")
        
        
        # identify outlier rows based on calculations above
        outlying_rows = df.loc[df[q] < lower_bound].index.tolist() + df.loc[df[q] > upper_bound].index.tolist()

        # update dict with figures used in caluclation and affected rows
        outlier_dict.update({
            q:{
                "IQR": iqr,
                "Lower Limit (Q1 * -1.5)": lower_bound,
                "Upper Limit (Q3 * 1.5)": upper_bound,
                "Rows With Outliers": outlying_rows
            }
        })
        

    for k in outlier_dict.keys():
        for v in outlier_dict[k]["Rows With Outliers"]:
            rows_to_handle.add(v)
     
    return cols_with_outliers, cols_without_outliers

In [ ]:
def create_charts(quant_cols, df=df):
    """
    Creates a boxplot and a histogram showing the distribution of a quantitative value
    
    Args:
        quant_cols (list):
            * list of quantitative cols that you want to create charts for
            * can create charts one col at a time, just make sure it is a list
    
    """
    
    # histogram and boxplot for each quantitative variable (prior to handling nulls)

    for q in quant_cols: # tip of the cap to https://stackoverflow.com/questions/50773877/create-for-loop-to-plot-histograms-for-individual-columns-of-dataframe-with-seab/50774730#50774730 and https://aparnamishra144.medium.com/data-visualization-in-a-loop-using-seaborn-and-matplotlib-499ee540726d
        f, (ax_box, ax_hist) = plt.subplots(nrows=2, sharex=True)

        # histogram setup
        sns.histplot(x=df[q], ax=ax_hist)
        ax_hist.set(label="", xlabel="", ylabel="") # tip of the cap to https://stackoverflow.com/questions/42406233/how-to-add-a-title-to-a-seaborn-boxplot/60088930#60088930

        # boxplot setup
        sns.boxplot(x=df[q], orient="h", ax=ax_box)
        ax_box.set_title(label=q, weight="bold", fontsize="x-large")
        ax_box.set(xlabel="");

    plt.tight_layout()    
    plt.show()

In [ ]:
def outlier_output_charts(quant_cols):
    """
    In addition to functionality of create_charts() and find_outliers(), prints col's upper and lower limit
    
    Args:
        quant_cols (list):
            * list of quantitative cols that you want to create charts for
            * can create charts one col at a time, just make sure it is a list
    
    """
    
    for q in quant_cols:
        create_charts(quant_cols)
    
        find_outliers(quant_cols)
        
        upper_limit = outlier_dict[q]["Upper Limit (Q3 * 1.5)"]
        print(f"Upper limit for {q}: {upper_limit:,.2f}")
        
        
        lower_limit = outlier_dict[q]["Lower Limit (Q1 * -1.5)"]
        print(f"Lower limit for {q}: {lower_limit:,.2f}")  
        print("")

        return upper_limit, lower_limit

In [ ]:
# charts showing that there are no outliers among these cols, per the results of find_outliers() above
create_charts(cols_without_outliers)

In [ ]:
# these are the variables we'll focus our attention on 
cols_with_outliers

In [ ]:
# regardless of how col to be handled, it will go in this dict
handle_values_dict = {} 
    # syntax:
        # {col_name}: {"mean"/"median"/"retain"/"exclude"/"remove"}

Using **impute--median** for **Population**

In [ ]:
outlier_output_charts(["Population"])

In [ ]:
handle_values_dict.update({"Population": "median"})
handle_values_dict

Using **retain** for **Children**

In [ ]:
outlier_output_charts(["Children"])

In [ ]:
handle_values_dict.update({"Children": "retain"})
handle_values_dict

Using **retain** for **Income**

In [ ]:
outlier_output_charts(["Income"])

In [ ]:
handle_values_dict.update({"Income": "retain"})
handle_values_dict

Using **impute--median** for **Outage_sec_perweek**

In [ ]:
outlier_output_charts(["Outage_sec_perweek"])

In [ ]:
handle_values_dict.update({"Outage_sec_perweek": "median"})
handle_values_dict

Using **retain** for **Email**

In [ ]:
outlier_output_charts(["Email"])

In [ ]:
handle_values_dict.update({"Email": "retain"})
handle_values_dict

Using **retain** for **Contacts**

In [ ]:
outlier_output_charts(["Contacts"])

In [ ]:
handle_values_dict.update({"Contacts": "retain"})
handle_values_dict

Using **retain** for **Yearly_equip_failure**

In [ ]:
outlier_output_charts(["Yearly_equip_failure"])

In [ ]:
handle_values_dict.update({"Yearly_equip_failure": "retain"})
handle_values_dict

Using **retain** for **MonthlyCharge**

In [ ]:
outlier_output_charts(["MonthlyCharge"])

In [ ]:
handle_values_dict.update({"MonthlyCharge": "retain"})
handle_values_dict

In [ ]:
handle_values_dict

In [ ]:
new_cols_outliers_removed_set = set() # so we can iterate through this as necessary later on

def handle_outliers(handle_values_dict):
    """
    Handles one of the following per column:
        * leaves column be, as outliers have been deemed acceptable to retain
        * creates new column, imputing the outlying data points with the statistical method chosen by user while retaining all non-outlier values
        * excludes entire row outlier belongs to; removes said row from main df and puts it into a new df
        * removes entire row outlier belongs to from main df
    
    Args:
        * handle_values_dict (dict):
            * Before running this function, create a dict with all columns that have outliers you want to handle.
            * You will have to make a judgement call as to which of the following you want to do:
                * "retain" -- does not change any data within the col
                * "mean" -- imputes mean value from col
                * "median" -- imputes median value from col
                * "mode" -- imputes mode from col
                * "exclude" -- removes row from main df to a separate df
                * "remove" -- removes row from main df completely
          
        * Make sure that you are using the "no_nulls" col if there is both an original and modified col
            
    """

    df_exclude = pd.DataFrame()

    for k, v in handle_values_dict.items():
        addnl_col = k + "_with_outliers"
        v = v.lower()
                
        condition = df.index.isin(outlier_dict[k]["Rows With Outliers"]) 
        
        if v == "retain":
            continue # no change to df since we're keeping everything
        
        if v == "mean" or v == "median":
            s_test = getattr(df[k], v) # need to do this since test is being passed as a kwarg # tip of the cap to https://stackoverflow.com/questions/31112742/why-should-i-ever-use-getattr
            s_test_val = s_test() # in order to actually create an instance of median() or mean()

            df_orphans[addnl_col] = df[k] # create new col in df_orphans and move over data with outliers to it # tip of the cap to https://datagy.io/pandas-conditional-column/ for using df.loc[] and conditions
            
            df.loc[condition, k] = s_test_val # fill in any outliers found within col with mean/median as specified in function call
            
            new_cols_outliers_removed_set.add(addnl_col) # add to set to keep track of outlier cols created
            
        if v == "exclude":
            excluded_rows = df.loc[condition].copy() # grab all rows that fit condition above since they will be added to df_orphans, then 
            
            df_exclude = pd.concat([df_exclude, excluded_rows]) # tip of the cap to https://stackoverflow.com/questions/67139564/concatenate-dataframe-in-pandas
            df.drop(index=excluded_rows.index, inplace=True)

        if v == "remove":
            df.drop(index = df.loc[condition].index, inplace=True) # delete inplace
   
    return df_exclude # we'll be able to see this upon output, and we can assign the funciton call to a variable as desired

In [ ]:
#function call
df_exclude = handle_outliers(handle_values_dict)
df_exclude

In [ ]:
# handle_values_dict
outlier_dict

In [ ]:
df_orphans.info()

In [ ]:
cols_with_missing_values_list

In [ ]:
cols_with_outliers

In [ ]:
cols_handled = set(cols_with_missing_values_list).union(cols_with_outliers)
cols_handled

In [ ]:
df_orphans[sorted(df_orphans.columns.tolist())].info() # tip of the cap to https://learnpython.com/blog/sort-alphabetically-in-python/

In [ ]:
new_cols_outliers_removed_set

In [ ]:
final_viz_dict = {}

for col_base in set(df.columns.tolist()):
    
    if col_base not in quant_cols:
        continue
    
    if col_base + "_with_nulls" in new_cols_nulls_removed_set:
        col_null = col_base + "_with_nulls"
        
        if col_base not in final_viz_dict:
            final_viz_dict[col_base] = [col_null]
        else:
            final_viz_dict[col_base].append(col_null)
        
    if col_base + "_with_outliers" in new_cols_outliers_removed_set:
        col_out = col_base + "_with_outliers"
        
        if col_base not in final_viz_dict:
            final_viz_dict[col_base] = [col_out]
        
        else:
            final_viz_dict[col_base].append(col_out)

In [ ]:
# all of the original quantitative columns
quant_cols

In [ ]:
# the columns that we ended up handling nulls and/or outliers in
final_viz_dict

In [ ]:
for k, val in final_viz_dict.items():
    for v in val:    
        create_charts([k])
        create_charts(val, df=df_orphans)
    
        print(f'               Original median value: {df_orphans[[v]].describe().loc[["50%"]].iloc[0,0]}') # tip of the cap to https://www.statology.org/pandas-describe-only-mean-std/
        print(f'               Cleaned median value: {df[[k]].describe().loc[["50%"]].iloc[0,0]}')
        print("")

In [ ]:
df.to_csv("C:/Users/nick_/_WGU/D207/Jupyter Notebook/churn_data_clean_parker.csv")
print("Successfully saved to CSV")

## End cleaning data, now on to D207 portion of code

## B1

### *Is there a difference in average price of internet for urban customers and rural customers?*

In [ ]:
from scipy import stats
from matplotlib.ticker import StrMethodFormatter

In [ ]:
df.head(1)

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df_fiber_optic = df.loc[df["InternetService"] == "Fiber Optic"]

In [ ]:
df_dsl = df.loc[df["InternetService"] == "DSL"]

In [ ]:
df_no_internet = df.loc[df["InternetService"] == "None"]

In [ ]:
fiber_optic_array = df[df["InternetService"] == "Fiber Optic"]["MonthlyCharge"]
dsl_array = df[df["InternetService"] == "DSL"]["MonthlyCharge"]
no_internet_array = df[df["InternetService"] == "None"]["MonthlyCharge"]

In [ ]:
anova = stats.f_oneway(fiber_optic_array, dsl_array, no_internet_array)

## B2

In [ ]:
anova

In [ ]:
print(anova[1])

In [ ]:
df_fiber_optic["MonthlyCharge"].describe().loc["mean"]

In [ ]:
df_dsl["MonthlyCharge"].describe().loc["mean"]

In [ ]:
df_no_internet["MonthlyCharge"].describe().loc["mean"]

## C1--Univariate Statistics

### Continuous Variables

#### Age

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))

sns.boxplot(x=df["Age"])

ax.set_title(label="Age Distribution", fontsize="x-large", weight="bold")
ax.set_xlabel("Age", fontsize=14)

plt.show()

#### Income

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))

sns.histplot(x=df["Outage_sec_perweek"])

ax.set_title(label="Number of Seconds of Outages Per Week", fontsize="x-large", weight="bold")
ax.set_xlabel("Average Seconds", fontsize=14)

plt.show()

### Categorical Variables

#### Area

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))

sns.barplot(data=df, y=df["Area"].value_counts(), x=df["Area"].value_counts().index)

ax.set_title(label="Area Distribution", fontsize="x-large", weight="bold")
ax.set_xlabel("Area", fontsize=14)
ax.set_ylabel("Count", fontsize=14)
ax.yaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}'))

for a in ax.containers: # tip of the hat to https://www.geeksforgeeks.org/how-to-show-values-on-seaborn-barplot/#
    ax.bar_label(a, fmt="{}", labels=[f"{val:,.0f}" for val in a.datavalues]) # tip of the cap to https://stackoverflow.com/questions/70515542/adding-comma-to-bar-labels


plt.show()

#### Contract

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))

sns.barplot(data=df, 
    y=df["Contract"].value_counts(), 
    x=df["Contract"].value_counts().sort_index().index
   )

ax.set_title(label="Contract Term", fontsize="x-large", weight="bold")
ax.set_xlabel("Length", fontsize=14)
ax.set_ylabel("Count", fontsize=14)
ax.yaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}'))

for a in ax.containers: # tip of the hat to https://www.geeksforgeeks.org/how-to-show-values-on-seaborn-barplot/#
    ax.bar_label(a, fmt="{}", labels=[f"{val:,.0f}" for val in a.datavalues]) # tip of the cap to https://stackoverflow.com/questions/70515542/adding-comma-to-bar-labels

plt.show()

## D1--Bivariate Statistics

### Categorical--_InternetService_ and _Gender_

In [ ]:
# use .groupby() to create a df with the information we need to plot two categorical variables
df_ser_gen = df.groupby(["InternetService", "Gender"]).agg(occurences=("Customer_id", "count")) # tip of the cap to https://linuxhint.com/seaborn-barplot-multiple-columns/
df_ser_gen = df_ser_gen.reset_index() # if you don't .reset_index() you'll get a multi-level df and that's a pain
# df_ser_gen

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))

sns.barplot(
    data=df_ser_gen,
    x="InternetService", 
    y="occurences",
    hue="Gender",
    order=["Fiber Optic", "DSL", "None"],
    hue_order=["Male", "Female", "Nonbinary"] # tip of the cap to https://www.geeksforgeeks.org/seaborn-barplot-method-in-python/#
   )

ax.set_title(label="InternetService by Gender", fontsize="x-large", weight="bold")
ax.set_xlabel("Type of InternetService", fontsize=14)
ax.set_ylabel("Occurences", fontsize=14)
ax.yaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}'))


# for a in ax.containers: # tip of the hat to https://www.geeksforgeeks.org/how-to-show-values-on-seaborn-barplot/#
#     ax.bar_label(a,fmt="{x:,.0f}") ## this is how to do it in v 3.7+ in MPL, I'm using an older version

for a in ax.containers: # tip of the hat to https://www.geeksforgeeks.org/how-to-show-values-on-seaborn-barplot/#
    ax.bar_label(a, fmt="{}", labels=[f"{val:,.0f}" for val in a.datavalues]) # tip of the cap to https://stackoverflow.com/questions/70515542/adding-comma-to-bar-labels


plt.show()

## Continual--_Tenure_ and _Bandwidth_GB_Year_

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))


sns.scatterplot(data=df, x=df["Tenure"], y=df["Bandwidth_GB_Year"])

ax.set_title(label="Bandwidth Usage by Tenure", fontsize="x-large", weight="bold")
ax.set_xlabel("Tenure (in months)", fontsize=14)
ax.set_ylabel("Annual GB Bandwidth Used", fontsize=14)
ax.yaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}')) # my brow has stopped twitching thanks to https://stackoverflow.com/a/46574866

plt.show()